# Configuración del entorno y caché de Python
pyvenv.cfg
**/__pycache__/
*.pyc

# --- BLOQUEO CRÍTICO DE DATOS PESADOS (20GB+) ---
# Esto prohíbe CUALQUIER carpeta "raw" en cualquier parte del proyecto
**/raw/**
