# Backend Core
fastapi
uvicorn
python-multipart
pydantic

# Datos y Base de Datos
pandas
numpy
psycopg[binary]
python-dotenv==1.0.1

# Visión de Computación e Imágenes
opencv-python
Pillow
kornia

# Audio y NLP
mutagen
nltk

# Machine Learning y Búsqueda
torch
faiss-cpu
kagglehub

# Utilidades
tqdm
numpy
tqdm 
torch
kornia
librosa
soundfile
numpy
scipy
scikit-learn