# Backend Core
fastapi
uvicorn
python-multipart
pydantic

# Datos y Base de Datos
pandas
numpy
psycopg2-binary
python-dotenv

# Visión de Computación e Imágenes
opencv-python
Pillow
kornia

# Audio y NLP
mutagen
nltk

# Machine Learning y Búsqueda
torch
faiss-cpu
kagglehub

# Utilidades
tqdm